.about-description
{
    display: flex;
    
    align-items: center;
    margin: 2rem;
}

.about-description img
{
    width: 70%;
    height: auto;
    margin-left: 7rem;
    
}
.about-description-text
{
    font-size: 1.5rem;  
    text-align: justify;
    margin-right: 3rem; 
}
.about-description-text h3
{
    color: #20aa00;
    font-family: 'VT323', monospace;
    font-size: 3rem;
}
.about-description-text strong
{
    color: #20aa00;
    font-family: 'VT323', monospace;
    font-size: 2.5rem;
}
