.carousel
{
    display: flex;
    justify-content: left;
}
#img-1
{
    width: 100%;
    height: 700px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: display 1s;
    background-image: url(../images/foto-1.jpg);
}
#img-1 p
{
    text-align: justify;
    max-width: 400px;
}
#img-2
{
    width: 100%;
    height: 700px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    display: none;
    justify-content: space-between;
    align-items: center;
    background-image: url(../images/foto-2.jpg);
    transition: display 1s;

}
#img-2 p
{
    text-align: justify;
    max-width: 400px;
}
#img-3
{
    width: 100%;
    height: 700px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    display: none;
    justify-content: space-between;
    align-items: center;
    background-image: url(../images/foto-3.jpg);
    transition: display 1s;
}
#img-3 p
{
    text-align: justify;
    max-width: 400px;
}