*,html,body
    {
        padding: 0%;
        margin: 0%;
    }


body
    {
        background-color:  #204051;
    }
.cabecera
    {
        box-shadow: 1px 2px 5px #000000;
        background-color: #3b6978;
        
    }
.menu
{
    text-align: right;

}
.listaMenu 
    {
        display: inline-block;
        margin-bottom: 1em;
        margin-right: 1em;
        margin-top: 1em;
        
       
    }  
.listaMenu a
    {
        
        text-decoration: none;
        font-size: 1.5em;
        text-align: center;
        font-family: potra;
        font-size: x-large;
        color: white;
        padding: 6px;
    }      
.listaMenu a:hover
    {
        transition: 0.2s ease-in-out;
        color: aqua;
        border-radius: 5px;
        
    }