footer
{
    color: white;
    background-color: black;
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1.5rem;
    
}
/* este es el logo */
footer div img
{
    width: 16rem;
  height: 5rem;
}


footer a
{
    text-decoration: none;
    color: white;
}


footer div #contacto
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer div a:hover
{
    color: #339BEA;  
}
.redes-sociales
{
    font-size: 3rem;
    
    

}
footer .redes-sociales a:hover
{
   color: #339BEA;
}



footer div p
{
    color: #339BEA;
    
    font-size: 1.2rem;
   
}
.contactos p
{
    position: absolute;
    bottom: 0;
    right: 0;
}

.css-check
{
   position: absolute; 
    right: 0;
    bottom: 0;
    border:0;
    width:88px;
    height:31px;
}
