*
  {
    font-family:  'Roboto', sans-serif;
    padding: 0;
    margin: 0 ;
  }
.logo
  {
    margin: 1em;
    
  }
header 
  {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    max-height: 51px;
    background-color: #1b262c;
    
  }
header ul 
  {
    display: flex;
    
  }
header ul li
  {
    display: flex;
    justify-content: space-between;
    margin: 1em;
  }
header ul li a
  {
    text-decoration: none;
    color: #fdcb9e;
  }
