
header section
{
  display: flex;
  justify-content: space-between;
  background-color: #000;
  
}
.logo a img
{
  background-color: white;
  
  width: 16rem;
  height: 5rem;
  
}
.menu
{
  display: flex;
  align-items: center;
}
.menu ul
{
  display: flex;
  
}
.menu ul li
{
  display: flex;
  margin-right: 2rem;
}
.menu ul li a
{
  color: #fff;
  font-size: 2rem;
  text-decoration: none;
  font-family: 'VT323', monospace;
}
.menu ul li a:hover
{
  color: #20aa00;
}
.button
{
  font-weight: bolder;
  font-size: 3rem;
  color: red;
  margin: 0.5rem;
  text-shadow: 1px 1px 5px #000;
  cursor: pointer;
}
