header
{
  position: fixed;
  right: 0;
  left: 0;
  z-index: 1;
  transition: ease-in-out 1s;
}
header section
{
  display: flex;
  justify-content: flex-end;
  background-color: rgba(0, 0, 0, 0.3);
  width: auto;
  height: 5rem;
  
}

.menu
{
  display: flex;
  align-items: center;
  transition: 1s ease;
}
.menu ul
{
  display: flex;
  
}
.menu ul li
{
  display: flex;
  margin-right: 2rem;
}
.links
{
  color: #ffffff;
}
.active
{
  color: #339BEA;
}
.menu ul li a
{
  
  font-size: 2rem;
  text-decoration: none;
  font-weight: 600;
  scroll-behavior: smooth;
 
 
}

.menu ul li a:hover
{
  color: #339BEA;
}
.menu-hamburgesa
{
  display: none;
  font-size: 3rem;
  margin: 2rem;
 
}
.menu-close
{
  display: none;
  font-size: 3rem;
  margin: 2rem;
}
.button
{
  font-weight: bolder;
  font-size: 3rem;
  color: red;
  margin: 0.5rem;
  text-shadow: 1px 1px 5px #000;
  cursor: pointer;
}
