.hero
{
    display: flex;
    justify-content: space-around;
    padding: 8rem 0;
    width: auto;
    height: auto;
    font-size: 1rem;
    background-image: 
      url(../images/foto-2.jpg);
      background-position: bottom;
    

}
.hero-content
{
    display: flex;
    
    justify-content: space-between;
    margin: 0px 4rem;
    align-items: center;
    position: relative;
    padding: 7rem 0;

}


.hero h1
{
    
    font-size: 3rem;
    color: whitesmoke;
    text-shadow: 1px 1px 3px black;
    
}
#hero-text
{
    
   
    font-family: 'VT323', monospace;
    font-weight: bolder;
    text-transform: uppercase;
    font-size: 4rem;
}
.miphoto
{
    width: auto;
    height: 25rem;
    
    max-width: 100%;

    width: auto;  
    border-radius: 2rem;
    box-shadow: 2px 2px 3px whitesmoke;
}