*, html
  {
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    width: auto;
    height: auto;
    scroll-behavior: smooth;
  }
html
{
  font-size: 16px;
  
  
}
html::-webkit-scrollbar {
  width: 9px;     /* Tamaño del scroll en vertical */
  background-color: white;
  

   }

html::-webkit-scrollbar-thumb {
    background: #339BEA;
    border-radius: 3px;
     }

html::-webkit-scrollbar-thumb:active {
      background-color: #999999; }

html::-webkit-scrollbar-track {
        background: none;
        
        border-radius: 3px;
      }


