@media only screen and (max-width:1023px)
{
    .hero-content
    {
        flex-wrap: wrap-reverse;
        justify-content: center;
    }
    .about-description
    {
        flex-wrap: wrap-reverse;
        justify-content: center;
    }
    .proyect
    {
        grid-template-columns: repeat(2,1fr);
    }
    

}