.item
{
    display: grid;
    grid-gap: 25px;
    grid-template-columns: repeat(4,1fr);
    margin: 0 50px;
    padding: 0 30px;
}

.head-proyect
{
display: flex;
align-items: center;
justify-content: center;
margin: 2rem;
font-size: 3em;
}