@font-face 
    {
        font-family: odachi;
        src:url(Odachi/Webfont/Odachi.woff);
    }
@font-face 
    {
        font-family: aqua;
        src:url(aqua/aqua.ttf);
    }
@font-face 
    {
        font-family: black_pink_signature;
        src:url(black_pink_signature/Black\ Pink\ Signature.ttf);
    }    
@font-face 
    {
        font-family: doctor_glitch;
        src:url(doctor_glitch/Doctor\ Glitch.otf);
    }
@font-face 
    {
        font-family: forestsmooth-regular;
        src:url(forestsmooth-regular/ForestSmooth-Regular.ttf);
    }

@font-face 
    {
        font-family: iconic;
        src:url(iconic/Iconic-Light-trial.ttf);
    }
@font-face 
    {
        font-family: nordic;
        src:url(nordic/Nordic\ Alternative\ Regular.ttf);
    }
@font-face 
    {
        font-family: olivia;
        src:url(olivia_3/Olivia-Regular.otf);
    }
@font-face 
    {
        font-family: petricia;
        src:url(petricia/Petricia.otf);
    }
@font-face 
    {
        font-family: potra;
        src:url(potra/Potra.ttf);
    }